body {
    background: url("151_pokemon_wallpaper_by_drums107_ddumeg9-fullview.jpeg");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* i {
    position: absolute;
    top: 4%;
    left: 95%;
    border: 2px solid black;
    border-radius: 7px;
} */
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;

}
#content-box {
    width: 500px;
    height: 500px;
    border: 10px solid darkturquoise;
    border-radius: 30px;



    /* background-color: green; */
    display: flex;
    margin: 0 auto;
    margin-top: 2px;

    /* background: url("raichu-inside-pokeball-hko362hyw858axmh-hko362hyw858axmh.jpeg") no-repeat; */
    background-size: cover;
    background-color: rgba(255,255,255,0.6);

}

#pokemon-info {
    width: 250px;
    height: 50px;
    /* background-color: cyan; */
    text-align: center;
    
    

}

#pokemon-list {
    width: 250px;
    height: 487px;
    font-size: 17px ;
    margin-top: 4px;
    overflow-y: auto;

}

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(193, 176, 176);
    margin: 5px;
    padding: 5px;
    font-size: small;
    color: white

}

#pokemon-info img {
    width : 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(186, 22, 22);

}
#pokemon-types {
    margin-top: 10px;
    color: white
}

.type-box {
    padding: 3px;
    margin: 5px;
    border:1px solid rgb(217, 40, 40);
    border-radius: 10px;
}

.fire {
    background-color: orange;
    color: white;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: rgb(222, 23, 23);
    border: 1px solid black;
    border-radius: 10px;
    

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 16px;
    overflow-y: auto;
}

#dislike-count {
    font-size: 50px;
    color: red;
    margin-left: 50%;
}

#dislike-button {
    position: relative;
    border: none;
    height:3.5rem;
    width:3.5rem;
    color: whitesmoke;
    font-size: 19px;
    justify-self: center;
    background: url("rocket.png");
    background-size: 100%;
    padding-bottom: 8pt;
}

#dislike-button:hover {
    opacity: .6;
}

#like-count {
    font-size: 25px;
    color: rgb(0, 146, 0);
    margin-left: 20%;
    margin-top: 50%;
}

#like-button {
    position: relative;
    border: none;
    height: 3.5rem;
    width: 3.5rem;
    color:whitesmoke;
    justify-self: center;
    background: url("Ash.png");
    background-size: 100%;
    padding-bottom: 8pt;
}

#like-button:hover {
    opacity: .6;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: top;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

.checkbox {
	opacity: 8;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: top center;
	justify-content: space-between;
	padding: 5px;
	position: top center;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}